body {
    background-image: url('background.webp');
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div {
    margin: 20px;
    padding: 20px;
    text-align: center;
    width:300px; 
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
}
button {
    margin: 5px;
    width: 220px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: brown;
    border-radius: 10px;
}
#save {
    background-color: green;
}